@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Emoji&family=Sarabun:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, header {
    font-family: 'Merriweather', 'Sarabun', sans-serif;
}

p, span, a, input, button, textarea, article {
    font-family: 'Sarabun', sans-serif;
}

.emotes {
    font-family: 'Noto Emoji', sans-serif;
}

a {
    @apply underline
}

main {
    @apply md:my-24 md:px-32 md:py-0 px-4 py-16 grid w-full place-items-center gap-12
}

.title {
    @apply text-5xl font-black text-gray-600;
}

::-webkit-scrollbar {
    width: 5px;
}