@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Emoji&family=Sarabun:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --no-of-slides: 3;
    --slide-width: 100%;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: 'Merriweather', 'Sarabun', sans-serif;
}

p, span, a, input, button, textarea, article {
    font-family: 'Sarabun', sans-serif;
}

.emotes {
    font-family: 'Noto Emoji', sans-serif;
}

a {
    @apply underline
}

main {
    @apply md:my-24 md:px-32 md:py-0 px-4 py-16 grid w-full place-items-center gap-12
}

.title {
    @apply text-5xl font-black text-gray-600;
}

::-webkit-scrollbar {
    width: 0rem;
    height: 0;
}

/*::-webkit-scrollbar-track {*/
/*    background: #272935;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #ff7ac6;*/
/*    border-radius: 9999px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: hsl(326 100% 59%);*/
/*}*/


.item {
    animation: 60s infinite slide cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
    }
    100% {
        transform: translateX(0);
    }
}

.hoverable {
    @apply hover:shadow-xl hover:scale-[1.05] transition-all duration-300;
}